<!-- Hero BLock -->
<section class="hero block-sckewed-left">
  <picture>
    <source media="(max-width: 767px)" srcset="images/Banner-mobile.jpg" />
    <source media="(min-width: 768px)" srcset="images/Banner.jpg" />
    <img src="images/Banner.jpg" alt="Hero section Banner" />
  </picture>
  <div class="hero__content">
    <h3>Hi there, I'm</h3>
    <h1>
      S.Mohammad <br />
      Hosseininejad
    </h1>
    <h3>A front-end developer with lots of passion based in Iran.</h3>
    <div class="hero__btn">
      <a href="#" class="btn btn-primary">Contact me</a>
    </div>
  </div>
</section>
