<!-- showcase block -->
<section class="block">
  <div class="block-showcase">
    <h2 class="showcase__heading">
      A front-end developer fueled by enthusiasm...
    </h2>
    <div class="card card-primary showcase__card1">
      <i class="fab fa-react icon"></i>
      <h3 class="card__heading">React developer</h3>
      <div class="card-link-container">
        <a href="#" class="link-arrow card__link">Discover More</a>
      </div>
    </div>
    <div class="card card-secondary showcase__card2">
      <i class="fas fa-mobile-alt icon"></i>
      <h3 class="card__heading">Responsive design</h3>
      <div class="card-link-container">
        <a href="#" class="link-arrow card__link">Discover More</a>
      </div>
    </div>
    <div class="card card-secondary showcase__card3">
      <i class="fab fa-buromobelexperte icon"></i>
      <h3 class="card__heading">UI / web designer</h3>
      <div class="card-link-container">
        <a href="#" class="link-arrow card__link">Discover More</a>
      </div>
    </div>
    <i class="fas fa-infinity showcase__infinity-icon"></i>
    <div class="motto">
      <h3>Become perfect or die trying.</h3>
    </div>
  </div>
</section>
