<section class="social-media">
    <h2 class="social-media__heading">Let's be sociable</h2>
    <p class="social-media__text">
      If you prefer social media to connect, <br />
      I'm available at following:
    </p>

      <div class="social-media-item">
        <div class="box2 purple">
          <div class="box1">
            <i class="fab fa-instagram social-media__icon"></i>
          </div>
          @smohammadhn
        </div>
      </div>

      <div class="social-media-item">
        <div class="box2 blue">
          <div class="box1">
            <i class="fab fa-telegram-plane social-media__icon"></i>
          </div>
          @smohammadhn
        </div>
      </div>

      <div class="social-media-item">
        <div class="box2 green">
          <div class="box1">
            <i class="fab fa-whatsapp social-media__icon"></i>
          </div>
          @smohammadhn
        </div>
      </div>

      <div class="social-media-item">
        <div class="box2 red">
          <div class="box1">
            <i class="fab fa-google social-media__icon"></i>
          </div>
          smohammadhnd@gmail.com
        </div>
      </div>
      
  </section>