// global styles
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'lato', Arial, sans-serif;
}

body {
  font-family: 'lato', Arial, sans-serif;
}

h1,h2,h3,h4,p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #002c00;
  font-family: 'lato', Arial, sans-serif;
}

@font-face {
  font-family: lato;
  src: local("lato"), url('static/fonts/Lato/Lato-regular.ttf'); format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: lato;
  src: local("lato"), url('static/fonts/Lato/Lato-bold.ttf') format("truetype");
  font-weight: bold;
}

